/.vscode
/db.sqlite3
/logs
/uploads
/staticfiles
/user_messages.log
**.pyc
__pycache__/
*.py[cod]
*$py.class
backend/db.sqlite3
backend/user_messages.log
backend/node_modules/*
backend/uploads/*
backend/**.pyc
backend/nuagefernandez/__pycache__/settings.cpython-313.pyc
backend/nuagefernandez/__pycache__/settings.cpython-313.pyc
