[Unit]
Description=Speaker Listener Service
After=network.target sound.target

[Service]
Type=simple
ExecStartPre=/usr/bin/amixer sset 'PCM' 95%
ExecStart={{ venv_dir }}/bin/python /usr/local/bin/speaker_listener.py
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target