## `deploy/ansible.cfg`
[defaults]
inventory = hosts.ini
interpreter_python = /usr/bin/python3
host_key_checking = False
deprecation_warnings = False
retry_files_enabled = False
# pour le debug plus jolie.
stdout_callback = yaml

[privilege_escalation]
become = True
become_ask_pass = False
